body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.portrait, .landscape, .container .columns:last-child{
  background-color: #000;
}

.portrait img{
  width: initial !important;
  height: 100% !important;
  margin:0 auto;
}

.landscape img{
  width: auto !important;
  height: 100% !important;
  margin:0 auto;
}

